{% macro render_amount(amount) %}
{% if amount is none %}
  <span class="num"></span>
{% else %}
  <span class="num" title="{{ ledger.commodities.name(amount.currency) }}">
    {{- amount.number | format_currency(amount.currency) }} {{ amount.currency -}}
  </span>
{% endif %}
{% endmacro %}

{% macro render_amount_cell(amount) %}
{% if amount is none %}
<td class="num" data-sort-value="0">
  {{ render_amount(amount) }}
</td>
{% else %}
<td class="num" data-sort-value="{{ amount.number }}">
  {{ render_amount(amount) }}
</td>
{% endif %}
{% endmacro %}

{% set groups = extension.overview() %}
<h2>Investments</h2>
<table is="sortable-table">
  <thead>
    <tr>
      <th data-sort="string">Investment</th>
      <th data-sort="string">Units</th>
      <th data-sort="num">Cash In</th>
      <th data-sort="num">Cash Out</th>
      <th data-sort="num">Market Value</th>
      <th data-sort="num">Returns</th>
      <th data-sort="num">Yield</th>
      <th data-sort="num">IRR</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <td><a href="{{ url_for('extension_report', extension_name='FavaPortfolioReturns', group=group.name) }}">{{ group.name }}</a></td>
      <td class="num">
        {% for unit in group.units %}
          {{ render_amount(unit.units) }}<br>
        {% endfor %}
      </td>
      {{ render_amount_cell(group.cash_in) }}
      {{ render_amount_cell(group.cash_out) }}
      {{ render_amount_cell(group.market_value) }}
      <td class="num {% if group.returns.number >= 0 %}positive{% else %}negative{% endif %}" data-sort-value="{{ group.returns.number }}">
        {{ render_amount(group.returns) }}
      </td>
      <td class="num {% if group.returns_pct >= 0 %}positive{% else %}negative{% endif %}" data-sort-value="{{ group.returns_pct }}">
        <span class="num">{{ "%.2f" | format(group.returns_pct * 100) }} %</span>
      </td>
      <td class="num {% if group.irr >= 0 %}positive{% else %}negative{% endif %}" data-sort-value="{{ group.irr }}">
        <span class="num">{{ "%.2f" | format(group.irr * 100) }} %</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
